.app-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 100px 250px 400px;
    grid-template-columns: 750px 300px;
    background-color: #e4e4e4;
  }
  .app-grid-panel-draw {
    grid-row: 1 / 4;
    grid-column: 1;
  }

  .app-grid-panel-source {
    grid-row: 1;
    grid-column: 2;
  }
  .app-grid-panel-approx {
    grid-row: 2;
    grid-column: 2;
  }
  .app-grid-panel-show {
    grid-row: 3;
    grid-column: 2;
  }

  [class^='app-grid-panel'] {
    outline: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    color: #333;
  }

  #canvas-placeholder { 
    background-color:#acd3ce; 
    width:750px; 
    height:750px; 

    cursor:crosshair; 
  }

  #drawing-canvas { 
    position:absolute;
    border:  3px solid rgb(0, 0, 0); 
    color:rgb(218, 13, 13); 
    overflow:hidden; 
    background-color:transparent; 
    } 
   #tempCanvas { position: absolute; width:897px; height:532px; overflow:hidden; }

   .source-grid {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 50px 50px;
    grid-template-columns: 300px;
    background-color: #e4e4e4;
  }

  .source-grid-panel-source {
    grid-row: 1;
    grid-column: 1;
  }
  .source-grid-panel-sam {
    grid-row: 2;
    grid-column: 1;
  }

  [class^='source-grid-panel'] {
    outline: 0px solid rgb(0, 0, 0);
    font-size: 20px;
    color: #333;
  }

  .approx-grid {
    display: grid;
    grid-gap: 1px;
    grid-template-rows: 50px 50px 50px 100px;
    grid-template-columns: 150px 150px;
    background-color: #e4e4e4;
  }

  .approx-grid-panel-resam {
    grid-row: 1;
    grid-column: 1;
  }
  .source-grid-panel-ord {
    grid-row: 1;
    grid-column: 2;
  }

  .approx-grid-panel-step {
    grid-row: 2;
    grid-column: 1;
  }

  .approx-grid-panel-reset {
    grid-row: 2;
    grid-column: 2;
  }

  .approx-grid-panel-err {
    grid-row: 3;
    grid-column: 1;
  }
  .approx-grid-panel-lam {
    grid-row: 3;
    grid-column: 2;
  }

  [class^='approx-grid-panel'] {
    outline: 0px solid rgb(0, 0, 0);
    font-size: 20px;
    color: #333;
  }